<h3>{% trans %}email.interstitial_transcoding_error.message{% endtrans %}!</h3>
<p>Interstitial {{ interstitial.id }}</p>
{# TODO add uui source video link #}
<a href="#">{% trans %}email.interstitial_transcoding_error.link{% endtrans %}</a>

