<h3>{% trans %}email.source_video_error.message{% endtrans %}!</h3>
<p>Source Video {{ sourceVideo.id }}</p> Vod Status <b>{{ vodStatus }}</b>
<a href="{{ uui_entrypoint }}source_videos/view/{{ sourceVideo.id }}">{% trans %}email.source_video_error.link{% endtrans %}</a>