<h3>{% trans %}email.source_video_media_info_error.message{% endtrans %}!</h3>
<p>Source Video {{ sourceVideo.id }}</p>
{# TODO add uui source video link #}
<a href="#">{% trans %}email.source_video_media_info_error.link{% endtrans %}</a>

